.menu {
  background: #6b0bba;
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

/* .navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
} */

h1.logo {
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: -2px;
}
a:link,
a:active,
a:visited {
  color: #fefefe;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.menu li a {
  padding: 5px 10px;
  border-radius: 3px;
}
.menu li a:hover {
  text-decoration: none;
  background: #54097d;
  color: #ebebeb;
}
